#horse-image {
	animation-name: riding;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes riding {
	0% {
		margin-left: 100%;
	}
	100%{
		margin-left: -200%;
	}
}
footer > a {
  transition-property: color;
  transition-duration: 1.5s;
}

footer > a:hover {
  color: green;
}
